<div>
    <mat-card class="register">
    <mat-card-header>
        <mat-card-title>Register User</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>
            <mat-form-field appearance="outline" class="control-m">
                <mat-label>Name</mat-label>
                <input type="text" matInput placeholder="Name" formControlName="name">
                <mat-hint>Your name</mat-hint>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline" class="control-m">
                <mat-label>Email Address</mat-label>
                <input type="text" matInput placeholder="email" formControlName="email">
                <mat-hint>Your email address</mat-hint>
            </mat-form-field>
        </div>
        
        <div>
            <mat-form-field appearance="outline" class="control-m">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="Password" formControlName="password">
                <mat-hint>Your password</mat-hint>
            </mat-form-field>
        </div>
        
        <div>
            <button mat-raised-button color="primary" class="btnC" routerLink = "">cancel</button>

            <button mat-raised-button color="primary" class="btnR">Register</button>
        </div>
    </mat-card-content>
    </mat-card>
</div>
